@import '../../_Variables.scss';

#header {
    background: url('./../images/bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 769px;
    color: #fff;

    @media screen and (max-width: $MobileScreen) {
        height: 450px;
        min-height: auto;
    }

    .container {
        padding: 40px 0 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $TabletScreen) {
            padding: 20px 0 30px;
        }

        .header__logotype--link {

        }

        .header__heading {
            &--title {
                font-family: 'Bebas Neue';
                font-size: 60px;
                line-height: 70px;
                letter-spacing: 5.70937px;
                color: #fff;

                @media screen and (max-width: $TabletScreen) {
                    font-size: calc(3rem + 5vw);
                    margin-bottom: 10px;
                }
                @media screen and (max-width: $MobileScreen) {
                    font-size: calc(1rem + 4vw);
                    line-height: 2rem
                }
            }

            &--subtitle {
                font-size: 14px;
                line-height: 19px;
                color: #fff;
            }

        }

        .header__scroll {
            color: #fff;
        }
    }
}